<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{{ description }}"/>
  <meta name="author" content="{{ author }}"/>
  <title>{{ title }}</title>
  <link rel="icon" type="image/svg+xml" href="/book.svg"/>
  <link rel="stylesheet" href="/styles/w3.css"/>
</head>
<body>
    <main class="w3-main">
        <div class="w3-container">
        {{ content | safe }}
        </div>
    </main>
</body>
</html>
